* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hover-link: rgb(200, 200, 200);
}

.flex           { display: flex; }
.col            { flex-direction: column; }
.center         { justify-content: center; align-items: center; }
.glow:hover     { text-shadow: 0 0 1rem gold; color: var(--hover-link); }

a               { text-decoration: none; color: inherit; }

.top-banner,
.bottom-banner  { display: none; }

@media screen and (max-width: 400px) {
  .side-banner                { display: none; }
  .top-banner, .bottom-banner { display: flex; }
}

